<h1>ddd</h1>

<p>ahmedghgh</p>

<ul>
    <li>dddd</li>
    <li>eeee</li>
    <li>ffff</li>    
</ul>

</p>bye</p>

<form action ="" method="GET" name ="nameForm">
    <input type="text" value ="name" name="name">
     <input type="submit" value ="send" name="send">

</form>